{% extends "_layouts/master" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').relatedTo(entry).first() %}

{% if currentMenuNode is not null %}
    {% set parentMenuNode = currentMenuNode.getAncestors().first() %}
{% endif %}

{% block head %}
    {{ templateMacros.renderMetaFromEntry(entry) }}
{% endblock %}

{% block content %}

    <section class="gray-block" id="page">
        <div class="container" id="{{ entry.slug }}">
            {%- include "_includes/sidebar.twig" -%}
            <div class="col-sm-8 col-sm-offset-1 gray-bottom-border gray-top-border same-height mt-3 mb-1"
                 data-mh="page">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ entry.displayTitle|raw }}{{ templateMacros.renderEditButton(entry) }}
                        </div>
                        <div class="panel-body">
                            {{ templateMacros.renderBody(entry.body, guestEntry) }}
                            {% if entry.slug == "security" %}
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <img src="/images/security.jpg" alt="" class="page-image"/>
                                        </div>
                                    </div>
                                </div>
                            {% elseif entry.slug == "reviews-ratings" %}
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <img src="/images/reviews-1.jpg" alt="" class="page-half-image">
                                        </div>
                                    </div>
                                </div>
                            {% elseif entry.slug == "finding-a-buddy" %}
                                <div class="col-xs-12">
                                    <div class="row mt-2">
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <a href="/local/search" class="btn btn-default btn-lg">find a buddy</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}