{% extends "_layouts/master" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').relatedTo(entry).first() %}

{% if currentMenuNode is not null %}
    {% set parentMenuNode = currentMenuNode.getAncestors().first() %}
{% endif %}

{% block head %}
    {{ templateMacros.renderMetaFromEntry(entry) }}
{% endblock %}

{% block content %}

    <section class="gray-block" id="page">
        <div class="container" id="{{ entry.slug }}">
            {%- include "_includes/sidebar.twig" -%}
            <div class="col-sm-8 col-sm-offset-1 mt-3">
                <div class="row">
                    <article class="article same-height pb-1" data-mh="page">
                        <h3 class="page-title page-title-left">{{ entry.displayTitle|raw }}{{ templateMacros.renderEditButton(entry) }}</h3>
                        {{ templateMacros.renderBody(entry.body, guestEntry) }}
                    </article>

                    {% if entry.slug == "security" %}
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 text-center">
                                    <img src="/images/security.jpg" alt="" class="page-image"/>
                                </div>
                            </div>
                        </div>
                    {% elseif entry.slug == "reviews-ratings" %}
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 text-center">
                                    <img src="/images/reviews-1.jpg" alt="" class="page-half-image">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>

{% endblock %}