{% extends "_layouts/master" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').linkUrl('news').first() %}
{% set breadcrumbEntry = entry %}
{% block head %}
    {{ templateMacros.renderMetaFromEntry(entry) }}
{% endblock %}

{% block content %}
    <section id="page" class="gray-block">

        <div class="col-sm-6">
            <div class='row'>
                {% set relatedPanel = entry.body.type('relatedPanel').first() %}
                {% if(relatedPanel is defined and relatedPanel is not null) %}
                    {{ templateMacros.renderPanel(relatedPanel.panel.first()) }}
                {% endif %}
            </div>
        </div>

        <div class="col-sm-6">
            <article class="article mt-3 ml-1">
                <h1 class="page-title page-title-left">
                    {{ entry.displayTitle|raw }}
                    {{ templateMacros.renderEditButton(entry) }}
                </h1>

                <div class="article-body">
                    {{ templateMacros.renderBody(entry.body) }}
                </div>

                <div class="article-meta">
                    <div class="article-author"
                         style="background-image: url({{ entry.author.photoUrl }}); background-repeat: no-repeat;">
                        &nbsp;
                    </div>
                    <div class="article-byline">
                        {{ entry.postDate.format(craft.config.dateFormat) }}
                        {% if entry.byline %}
                            &mdash; {{ entry.byline }} | {{ "Keep It Local" }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-6-sm col-6-xs pull-left">
                            <div class="article-sharing">
                                <div data-share-default></div>
                            </div>
                        </div>
                        <div class="col-6-sm col-6-xs pull-right">
                            <a href="{{ url("/blog") }}" class="btn btn-tertiary">Back</a>
                        </div>
                    </div>
                </div>

                <div class="clear-both"></div>

                <div class="gray-bottom-border mt-1 mb-1"></div>

                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://staging-keepitlocal-co-za.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
            </article>
        </div>
        <div class="clear-both">
    </section>
    <script id="dsq-count-scr" src="//staging-keepitlocal-co-za.disqus.com/count.js" async></script>
{% endblock %}
