{% extends "_layouts/master.twig" %}

{% block content %}

    <div class="index-slider" data-height="0">
        {{ templateMacros.renderPanel(entry.body.type('relatedPanel').first().panel.first()) }}
    </div>

    <div class="container hidden-xs" style="position: relative">
        <div class="search-block" id="search-block">
            {%- include "_includes/search.twig" -%}
        </div>
    </div>

    <section id='trust-items'>
        <div class="container">
            <div class="hidden-lg hidden-md hidden-sm">
                <div class="text-center">
                    <a href="/local/introduction/create" class="btn btn-primary btn-lg">Become a local</a>
                </div>
            </div>
            {% set hasArrows = false %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').first().text }}</h2>
            {{ templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(1).panel.first(), hasArrows) }}
            <div class="text-center">
                <a href="/local/introduction/create" class="btn btn-primary btn-lg">Become a local</a>
            </div>
        </div>
    </section>

    <section class="gray-block" id='perks-items'>
        <div class="container">
            {% set hasArrows = false %}
            {% set panelType = 'perks' %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').offsetGet(1).text }}</h2>
            {{ templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(2).panel.first(), hasArrows, panelType) }}

            <div class="text-center">
                <a href="/local/introduction/create" class="btn btn-primary btn-lg">Become a Local</a>
            </div>
        </div>
    </section>

    <section id='steps-items'>
        <div class="container pb-3 white-bottom-border">
            {% set hasArrows = false %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').offsetGet(2).text }}</h2>
            {{ templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(3).panel.first(), hasArrows) }}
            <div class="text-center">
                <a href="/local/introduction/create" class="btn btn-primary btn-lg">
                    Create an Experience
                </a>
            </div>
        </div>
    </section>
    <input type="hidden" id="url" value="/become-a-local">
{% endblock %}
