{% extends "_layouts/master.twig" %}

{% block content %}

    {{  templateMacros.renderPanel(entry.body.type('relatedPanel').first().panel.first()) }}

    <section id='trust-items'>
        <div class="container pos-rel-block">
            <div class="home-btn-block">
                <a href="/local/register?type=local" class="btn btn-default btn-lg btn-block">Become a local</a>
            </div>
            {% set hasArrows = false %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').first().text }}</h2>
            {{  templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(1).panel.first(), hasArrows) }}
            <div class="text-center">
                <a href="/local/register?type=local" class="btn btn-primary btn-lg btn-white">Become a local</a>
            </div>
        </div>
    </section>

    <section class="gray-block" id='perks-items'>
        <div class="container">
            {% set hasArrows = false %}
            {% set panelType = 'perks' %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').offsetGet(1).text }}</h2>
            {{  templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(2).panel.first(), hasArrows, panelType) }}

            <div class="text-center">
                <a href="/local/register?type=local" class="btn btn-primary btn-lg">Become a Local</a>
            </div>
        </div>
    </section>

    <section id='steps-items'>
        <div class="container pb-3 white-bottom-border">
            {% set hasArrows = false %}
            <h2 class="text-center section-title"> {{ entry.body.type('text').offsetGet(2).text }}</h2>
            {{  templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(3).panel.first(), hasArrows) }}
            <div class="text-center">
                <a href="/local/register?type=local" class="btn btn-primary btn-lg btn-white">Create Your Local Experience</a>
            </div>
        </div>
    </section>
    <input type="hidden" id="url" value="/become-a-local">
{% endblock %}
